@model KeToanCongNoPhaiThu.Models.KhachHang

<h2>Chi tiết Khách Hàng</h2>
<div>
    <p><b>Tên:</b> @Model.TenKH</p>
    <p><b>Địa chỉ:</b> @Model.DiaChi</p>
    <p><b>SĐT:</b> @Model.SDT</p>
    <p><b>Email:</b> @Model.Email</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
